<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<img src={{src}}>

<p>
  Here is a Kurt Russel Quote: {{quote}}
</p>

<input type="button" id="trouble">{{russel}}</input>

<script>
$('#trouble').click(function() {
  alert("Just remember what old Jack Burton does when the earth quakes, the poison arrows fall from the sky, and the pillars of Heaven shake. Yeah, Jack Burton just looks that big old storm right in the eye and says Give me your best shot. I can take it.")
})
</script>
